<div class="text-center">
  <h1 class="display-4">Hello, Plant Lovers!</h1>
  <p class="lead">Welcome to our quirky little plant shop. We sell all sorts of green stuff - from tiny succulents to towering palm trees. 
  Whether you're a seasoned gardener or a clueless plant parent, we've got something for you. So go ahead, leaf through our collection and let's grow together!</p>
  <p class="lead">Get it? Yeah... Grow together, like plants do... Alright, that's all, you can go 
    <%= link_to 'buy plants', root_path, class: 'lead text-decoration-none' %> now.</p>
</div>